@import "utilidades/variables";
@import "utilidades/listas";
@import "utilidades/mapas";
@import "utilidades/mixin";
@import "utilidades/extend";
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Julius+Sans+One&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-bluedark;
  background-size: cover;
  font-family: "Anta", sans-serif;
}

header {
  @include flex-space-between;
  background: $color-bluedark;
  text-align: center;
}

header nav ul {
  @include flex-center;
  list-style: none;


  li {
    overflow-y: hidden;

    a {
      text-decoration: none;
      color: $color-white;
      font-size: 20px;
      transition: 0.5s;
      border-radius: 5px;
      margin-left: 10px;
      margin-right: 10px;
      @include hover-effect-s;
    }
  }

  .text-black-hover:hover {
    color: rgb(255, 255, 255) !important;
  }

  .nav-itemi{
    border-bottom: 0.2px solid rgba($color-white, 0.7);
  }

  .nav-itemp{
    border-bottom: 0.2px solid rgba($color-white, 0.7);
  }
  .nav-itemsm{
    border-bottom: 0.2px solid rgba($color-white, 0.7);
  }

  .nav-items{
    border-bottom: 0.2px solid rgba($color-white, 0.7);
  }

  .nav-itemc{
    border-bottom: 0.2px solid rgba($color-white, 0.7);
  }
}

.logo img {
  width: 420px;
  height: 350px;
}

main {
  border-top: 0.2px solid rgba($color-white, 0.2);
  border-bottom: 0.2px solid rgba($color-white, 0.2);
  color: $color-white;
  font-size: 17px;
  text-align: left;
  padding: 25px;
 

  .maininicio{
    background: url("../images/fondop.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
  }

  .mt {
    @include flex-space-evenly;
    overflow-y: hidden;
    text-align: center;
  }

    .fotop img {
      height: 600px;
    }

    .textmain {
      align-content: center;
      max-width: 50%;
      text-align: start;
      font-size: x-large;
      font-family: "Anta", sans-serif;
      font-weight: 200;
      font-style: normal;
      span {
        color: $color-yellow;
        font-family: "Anta", sans-serif;
        font-weight: 200;
        font-style: normal;
      }

      #contacto{
        text-decoration: none;
        text-decoration:underline;
        color: $color-white;
        @include hover-effect-s;
      }

      h1{
        font-size: calc(1.5vw + 10px);
      }
    }
  }

  .allmuestras {
    justify-items: center;
    text-align: center;
    justify-content: center;
}

  .muestras {
    width: 50%;
    background-color: rgba($color-black, 0.2);
    border-radius: 10px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    transition: 1s;
    }

.imgstudio{
  @include flex-space-between;
  margin-left: 100px;
  margin-right: 100PX;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  padding-top: 100px;
  border-bottom: 0.2px solid rgba($color-white, 0.2);
  border-top: 0.2px solid rgba($color-white, 0.2);
  align-items: center;

  .soperativo{
    text-align: center;
    font-size: 12px;

    p{
      padding: 30px;
    }

    img{
      width: 100%;
      height: 100%;
    }
  }

  .iconstudio{
    font-size: 10px;
    text-align: center;

    img{
      max-width: 86px;
      max-height: 86px;
    }
  }
}
    
.mitexto{
  margin: 0px 0px 50px 0px;
  padding: 0px 0px 50px 0px;
  height: 100%;
  border-bottom: 0.2px solid rgba($color-white, 0.2);
}

.studio{
  overflow: hidden;
}

.perfil{
  img{
    margin: 50px;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    filter: grayscale(1);
    border: 2px solid white;
    transition: 1s;
    @include perfil-color-hover;
  }
}

.pyl{
  @include flex-space-around;
}

  .precios {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
    margin-top: 50px;

    .precio {
      color: $color-white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;

      a {
        color: $color-white;
        background-color: rgba($color-black, 0.2);
        text-decoration: none;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        transition: 0.5s;
        padding: 20px;
        border-radius: 10px;
        @include hover-effect-s;
        
      }

      .pagina {
        font-size: 24px;
      }
    }
  }

  .map {
    margin-top: 50px;
    margin-right: 20px; 
    text-align: center;
    width: 100%; 
    border-radius: 10px;

    iframe {
      width: 100%; 
      height: 450px; 
    }
  }

  .two{
    @include flex-space-around;
  }

  .logoimg2 img{
    width: 100%;
    opacity: 0.1;
  }

  .form {
    margin-top: 50px;
    width: 50%; 
    padding: 20px;
    border-radius: 15px;
    color: white;

    form {
      .forms {
        p {
          margin-bottom: 10px;
          font-weight: bold;
        }

        input[type='text'],
        input[type='email'],
        textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 20px;
          border: none;
          border-radius: 5px;
          background-color: $color-white;
          color: $color-black;
        }

        textarea {
          resize: none;
          height: 150px;
        }

        button[type='submit'] {
          background-color: $color-white;
          color: $color-black;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5s;
          @include hover-effect;  
        }
        
      }
    }
  }


  .datos h3{
    margin: 100px;
    padding: 20px;
    border-bottom: 1px solid rgba($color-white, 0.2);
    border-top: 1px solid rgba($color-white, 0.2);
  }

  #carouselExample {
    .carousel-inner {
      .carousel-item img {
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
      }
    }
    .carousel-item {
      transition: transform 1.5s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
    }
    .carousel-caption {
      a {
        background-color: $color-bluedark;
        color: $color-white;
        text-decoration: none;
        padding: 10px;
        border: 1px solid rgba($color-white, 0.2);
        border-radius: 5px;
        @include vp-hover;
      }
      p {
        background-color: $color-bluedark;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgba($color-white, 0.2);
        
      }
    }
  }
  

footer {
  margin-bottom: 20px;

  .social {
    @include flex-center;
    background: $color-bluedark;
    border-radius: 100%;
    margin: 40px;
    padding: 50px;
    font-size: 25px;
    color: $color-white;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: $color-white;
    transition: 0.5s;
    padding: 5px;
    border-radius: 10px;
    @include hover-effect-s;
  }

  #irarriba {
    @include flex-center;
    font-size: small;
    margin-bottom: 80px;
  }
  

  .by {
    color: $color-white;
    text-align: center;
  }
}

.navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .container-fluid {
  @include flex-center;

  .navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @keyframes focus-in-contract {
      0% {
          letter-spacing: 1em;
          filter: blur(12px);
          opacity: 0;
      }
      100% {
          filter: blur(0px);
          opacity: 1;
      }
  }

    .mb-2 {
      margin-bottom: 0.5rem;
      margin-top: 2.5rem;
    }
  }

.text-black-hover:hover {
  color: black !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none; 
}

@keyframes focus-in-contract{

0% {
  filter: blur(0%); 
}
}

#carouselExample .carousel-inner .carousel-item img {
  max-width: 60%;
  height: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

.wppflotante{
  position: fixed;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  overflow: hidden;
}

#wppid{
  text-decoration: none;
  color: $color-bluedark;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  border-radius: 50px;
  background-color: $color-white;
  padding: 20px;
  transition: 0.5s;
  @include wppid-hover;
}


@media only screen and (max-width: 450px) and (min-width: 250px) {


  h4{
    font-size: 10px;
  }

  .imgstudio{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 70px;
  }

  .perfil img {
    margin: 0px;
    width: 300px;
    height: 300px;
  }

  .mitexto{
    font-size: small;
    margin: 0px;
    padding: 50px;
  }

  .navbar a{
    font-size: 9px;
  }

  main .mt .textmain{
    max-width: 100%;
    text-align: start;
    position: absolute;
    left: 30px;
    font-weight: bold;
    margin-right: 20px;
  }

  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .studio p{
    font-size: 15px;
  }

  main .map{
    height: 400px;
  }

  #carouselExample {
    .carousel-inner {
      .carousel-item img {
        height: 400px;
      }
    }
    }
    
  .carousel-caption
  p {
    background-color: rgba($color-black, 0.2);
    padding: 20px;
    border-radius: 5px;
    font-size: 12px;
  }
  main #carouselExample .carousel-inner .carousel-item img{
    height: 350px;
  }

  main .textmain h1 {
    font-size: calc(8.5vw + 10px);
}

main .mt .textmain{
  max-width: 100%;
  text-align: start;
  position: absolute;
  left: 30px;
  top: 450px;
}

.pyd{
  display: block;
}


}



@media only screen and (max-width: 700px) and (min-width: 450px) {

  h4{
    font-size: 20px;
  }

  .imgstudio{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 70px;
  }

  main .mt {
    @include flex-block;
  }

  main .mt .textmain{
    max-width: 100%;
    text-align: start;
    position: absolute;
    left: 30px;
    top: 530px;
  }


  .navbar {
    @include flex-center;
    font-size: 10px;
  }

  .social .fa {
    font-size: 15px;
  }

  #irarriba {
    @include flex-center;
    font-size: 10px;
  }
  main .form {
    width: 100%;
  }

  main .allmuestras{
    width: 100%;
  }

  main .map{
    height: 400px;
  }

  main .textmain h1 {
    font-size: calc(5.5vw + 10px);
}

main .textmain{
  font-size: medium;
}

.pyd{
  display: block;
}

}


@media screen and (min-width: 600px) {

  h4{
    font-size: 15px;
  }


  .muestra {
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }

  .muestra img {
      max-width: 100%; 
      height: auto;
  }

  main .muestras .imgstudio img{
    max-width: 100%;
  } 

  main .map{
    height: 400px;
  }

  .pyd{
    display: block;
  }

}

@media (max-width: 992px) {


  .imgstudio{
    display: grid;
    justify-items: center;
    justify-content: center;
    gap: 70px;
  }

  .studio{
    h4{
      font-size: 15px;
  }
 }

  #carouselExample .carousel-inner .carousel-item img {
    max-width: 400px;
    height: 400px;
  }

  h4{
    font-size: 15px;
  }


  .navbar {
    @include flex-center;
  }

  .social .fa {
    font-size: 15px;
  }

  #irarriba {
    @include flex-center;
    font-size: 15px;
  }
  main .form {
    width: 100%;
  }

  #map{
    width: 100%;
    height: 100%;
  }

  main .two{
    @include flex-block;
  }

  .logoimg2 img{
    position: relative;
  }

  main .map{
    height: 400px;
  }

  main .textmain{
    font-size: medium;
  }

  .pyd{
    display: block;
  }

}



@media only screen and (max-width: 1080px) {

  .pyl{
    @include flex-block;
  }


  #carouselExample .carousel-inner .carousel-item img {
    max-width: 400px;
    height: 400px;
    }


  main .maininicio{
    background: none;
  }


  .mt {
    @include flex-space-evenly;
  }

  .images {
    @include flex-grid;
  }

  .social .fa {
    font-size: 15px;
  }

  #irarriba {
    @include flex-center;
    font-size: 15px;
  }
  main .form {
    width: 100%;
  }


}

@media only screen and (max-width: 1400px) {

  #carouselExample .carousel-inner .carousel-item img {
    max-width: 400px;
    height: 400px;
    }

  main .maininicio{
    background: none;
  }

    header{
        display: block;
    }

    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 0;
      align-items: center;
  }

  .mt {
    @include flex-space-evenly;
  }

  main .mt .textmain{
    font-size: small;
  }

  .logo img {
    width: 300px;
    height: 280px;
    position: relative;
    left: 0;
  }

  .social .fa {
    font-size: 15px;
  }

  #irarriba {
    @include flex-center;
    font-size: 15px;
  }
  main .form {
    width: 100%;
  }
}




