@mixin flex-block{
  display: inline-block;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

@mixin flex-grid {
  display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px;
    align-items: center;
    text-align: center;
}  

@mixin flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 

  @mixin flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
  } 

  @mixin flex-space-between{
    display: flex;
    justify-content: space-between;
  }
  
@mixin grid{
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 20px;
    align-items: center;
}  

@mixin format-p {
    font-weight: bold; 
  }   

@mixin hover-effect {
    &:hover {
      color: $color-black;
      background: $color-white;
      border-radius: 5px;
    }
  }  

  @mixin hover-effect-s {
    &:hover {
      color: $color-white;
      filter: brightness(70%);
      border-radius: 10px;
    }
    
  }

  @mixin hover-effect-c{
    &:hover {
      color: $color-white;
      filter: brightness(100%);
      background-color: $color-white-t;
    }
  }

  @mixin hover-none{
    background-color: $color-bluedark;
  }
      
  
  